In [2]:
Name = ['Samantha', 'jada', 'jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Tabibat', 'lilian', 'Charles', 'Jude', 'james', 'Kelvin', 'Biodun', 'Wale', 'Matthew', 'Tom', 'kayode']
Age = ['17', '18', '16', '14', '20', '13', '15', '26', '23', '22', '12', '23', '23', '23', '23', '16', '22', '20', '12']
Height = ['5.5', '6.0', '4.9', '5.9', '3.0', '4.9', '5.0', '7.0', '6.1', '9.1', '5.7', '5.4', '5.3', '4.2', '3.2', '9.0', '4.5', '4.7', '5.9', '7.0']
Score = ['53', '77', '55', '57', '67', '56', '78', '56', '67', '89', '89', '78', '67', '57', '57', '57', '78', '57', '56', '45', '67', '67', '67']

print("Name | Age | Height | Score")
for i in range(len(Name)):
    print(Name[i], "|", Age[i], "|", Height[i], "|", Score[i])

Name | Age | Height | Score
Samantha | 17 | 5.5 | 53
jada | 18 | 6.0 | 77
jane | 16 | 4.9 | 55
Claire | 14 | 5.9 | 57
Elizabeth | 20 | 3.0 | 67
Mary | 13 | 4.9 | 56
Susan | 15 | 5.0 | 78
Waje | 26 | 7.0 | 56
Tabibat | 23 | 6.1 | 67
lilian | 22 | 9.1 | 89
Charles | 12 | 5.7 | 89
Jude | 23 | 5.4 | 78
james | 23 | 5.3 | 67
Kelvin | 23 | 4.2 | 57
Biodun | 23 | 3.2 | 57
Wale | 16 | 9.0 | 57
Matthew | 22 | 4.5 | 78
Tom | 20 | 4.7 | 57
kayode | 12 | 5.9 | 56

In [5]:
num = float(input("Enter your age please: "))
print("Age:", num)

num_2 = float(input("Enter your Experience: "))
print("Experience:", num_2)

if num_2 > 25 and num > 55:
   print("atris56,000,000,000")
elif  num_2 > 20 and num > 45:
    print ("atr is 46,000,000")
elif num_2 > 10 and num > 35:
    print("atr is 15,000,000")
elif num_2 > 5 and num > 25:
    print ("atr is 550,000")
else:
    print("PLEASE KINDLY GET OUT")

Enter your age please: 54
Age: 54.0
Enter your Experience: 12
Experience: 12.0
atr is 15,000,000